header.banner div.two-thirds {
    padding-left:1rem;
}

/* Larger than mobile */
@media (min-width: 400px) {
    header.banner {
        padding-left:1rem !important;
    }

    header.banner div.two-thirds {
        padding-left:0rem;
    }
}

h1 a:link, h1 a:visited {
    text-decoration:none;
    color:gold;
}

h1 a:hover {
    color:navy;
}

#subtitle {
    font-size: 1rem; line-height: 1.25; letter-spacing: 0;
    color:gold;
    font-weight:bold;
}

header figure img {
    float:left;
    max-width:320px;
    width:100%;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 640px) {
    header figure img {
        max-height:160px;
        width:initial;
        float:right;
    }
}

#contactSidebar,main section {
    padding-top:2rem;
    text-align: left;
}

aside#update_bar {
    padding:2rem 2rem 1rem;
    background-color:rgba(79,129,189,0.2) !important;
}

section#teaching {
    text-align:center;
}

section#teaching ul {
    list-style:none inside;
}

footer p {
    text-align:center;
    margin-bottom:0.5rem;
}
